.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow:hidden ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(320deg,#f27121,#e94057,#8a2387);
  color: rgb(231, 231, 231);
  text-shadow: 3px 3px 3px rgb(90, 90, 90);
}
*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
.todo{
  background: rgba(255, 255, 255, 0.21);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
display: flex;
flex-direction: column;
align-items: center;
height: calc(90% - 80px);
width: calc(40% - 120px);
margin: 15px auto;
}
.input_field{
  display: flex;
}
.item{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 5px 10px;
  margin: 5px 8px;
  font-size: 20px;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
button{
background: #e94057;
border: 1px solid red;
padding: 2px 4px;
color: #fff;
font-weight: 500;
}
input{
  padding: 6px 4px;
  font-weight: 600;
  color: rgb(57, 57, 57);
  outline: none;
}